{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <link href="{% static 'core/assets/img/favicon.png' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'core/assets/css/logo1.css' %}"/>
    <title>Dashboard - Better Cooking Portal</title>
</head>
<body>
<div class="container">
    <div class="forms-container">
        <div class="signin-signup">


            <form method="POST" action="">
                {% csrf_token %}
{#                <h2 class="title"> مرحبا بكم في Better Cooking </h2>#}
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username" name="username" class="form-control"/>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" name="password" class="form-control"/>
                </div>
                <input type="submit" value="الدخول" style="font-size: large" class="btn solid"/>


            </form>
        {% for message in messages %}
            <p id="messages"> {{ message }}</p>
        {% endfor %}
        </div>

    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Better Cooking نظام إدارة المحاسبة</h3>
                <h2 dir="rtl">
                    هو نظام محاسبة متخصص للطباخات وأدوات المطبخ


                </h2>
                <strong><p style="color: #f8cd44"> Developed by Soran Hamad</p></strong>

            </div>
            <img src="{% static 'core/assets/img/market.png' %}" class="image" alt=""/>
        </div>

    </div>
</div>

<script src="{% static 'core/assets/js/app.js' %}"></script>
</body>
</html>
